// main-nav
// main-nav__list
//         main-nav__item
//             main-nav__link

//           user-list__item
//             user-list__link
//             user-list__link--search
//          user-list__link--basket
$dark: #151c22;
$grey: #f1f2f4;
$light: #ffffff;

.header-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 15px;
  box-sizing: border-box;

  background: $grey;
}

.header-nav__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.header-nav__link {
  margin-right: 25px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
}
